{% extends "template.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Dashboard</div>

                <div class="card-body">
                    <section>
                        <h1>Posts</h1>
                        {% for post in posts %}
                            <article class="post">
                                <h2>
                                    <a href="{% url 'posts:page' slug=post.slug %}">
                                        {{ post.title }}
                                    </a>
                                </h2>
                                <p>{{ post.date }}</p>
                                <p>{{ post.body }}</p>
                            </article>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>   
{% endblock %}
